Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Migrate
Flask-Cors
Flask-Limiter

SQLAlchemy

Werkzeug
Jinja2
MarkupSafe
itsdangerous
click
blinker

gunicorn

pandas
openpyxl
xlsxwriter
xlrd

Pillow

requests

python-dotenv

bcrypt

email-validator

WTForms